.boxscore__details {
  display: flex;
  justify-content: center;
}
.boxscore__details > div {
  min-height: 40px;
}
.boxscore__details .boxscore__details__team {
  width: 44%;
}
.boxscore__details .boxscore__details__info {
  width: 12%;
  background: #efefef;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
}

.boxscore__details__team {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.boxscore__details__team p {
  display: block;
  margin: 0;
  padding: 0 20px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.boxscore__details__team p strong {
  display: none;
}
@media (min-width: 37.5rem) {
  .boxscore__details__team p strong {
    display: block;
  }
}
.boxscore__details__team p small {
  display: block;
}
@media (min-width: 37.5rem) {
  .boxscore__details__team p small {
    display: none;
  }
}
.boxscore__details__team span {
  display: block;
  text-transform: uppercase;
}
.boxscore__details__team--away {
  background: #002f6c;
}
.boxscore__details__team--home {
  background: #ba0c2f;
}
