.boxscore__team {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.boxscore__team--header {
  border-bottom: 1px solid #ddd;
}
.boxscore__team label {
  padding: 8px 0;
  width: 2.5rem;
  text-align: center;
  background: #efefef;
  border-right: 1px solid #ddd;
}
.boxscore__team .boxscore__team__units {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
@media (min-width: 37.5rem) {
  .boxscore__team .boxscore__team__units {
    width: 86%;
  }
}
.boxscore__team .boxscore__team__units span {
  display: inline-block;
  padding: 8px 0;
  text-align: center;
}
.boxscore__team .boxscore__team__results {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  font-weight: 700;
  background: #efefef;
  border-left: 1px solid #ddd;
}
@media (min-width: 37.5rem) {
  .boxscore__team .boxscore__team__results {
    width: 14%;
  }
}
.boxscore__team .boxscore__team__results span {
  display: inline-block;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

.columnScore {
  display: flex;
  flex-direction: column;
}
